/* section .title.is-3 {
    margin-bottom: 0.75em;
}

.panel-heading {
    background-color: #EEEEEE;
}

.navbar-brand {
    text-transform: uppercase;
}

.panel-heading h3 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

div + form {
    margin-top: 1em;
}
*/

body {
  padding-top: 70px;
}

#addRecipeBtn {
    position: fixed;
    bottom: 1em;
    right: 1em;
}
